#map-canvas {
        width: 500px;
    height: 400px;
    background-color: #CCC;

}
.ng-invalid { background-color: lightpink; }
.ng-valid { background-color: lightgreen; }
span.error { color: red; font-weight: bold; }