<!DOCTYPE html>
<html ng-app="superMarketApp">
<head>
<meta charset="ISO-8859-1">
<title>Reliance Super Market</title>

<!--External JS Libraries -->
<script type="text/javascript" src="/libs/jquery.min.js"></script>
<script type="text/javascript" src="/libs/jquery.bxslider.js"></script>
<script type="text/javascript" src="/libs/angular.js"></script>
<script type="text/javascript" src="/libs/angular-route.min.js"></script>
<script type="text/javascript" src="/libs/angular-cookies.js"></script>
<script type="text/javascript" src="/libs/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/libs/angular-mocks.js"></script>
<script
src="http://maps.googleapis.com/maps/api/js">
</script>
<!-- internal js -->
<script type="text/javascript" src="/javascripts/app.js"></script>
<script type="text/javascript" src="src/js/config.js"></script>
<script type="text/javascript" src="/javascripts/controller/supermarket.js"></script>
<script type="text/javascript" src="/javascripts/component/cart.js"></script>
<script type="text/javascript" src="/javascripts/component/cartDirective.js"></script>
<script type="text/javascript" src="/javascripts/filters/customfilter.js"></script>
<script type="text/javascript"
	src="/javascripts/controller/productListController.js"></script>
<script type="text/javascript"
	src="/javascripts/controller/cartSummaryController.js"></script>
<script type="text/javascript"
	src="/javascripts/controller/placeOrderController.js"></script>
<script type="text/javascript"
	src="/javascripts/controller/makePaymentController.js"></script>


<!--External CSS -->
<link href="/stylesheets/style.css" rel="stylesheet" />
<link
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet">

</head>
<body ng-controller="superMarketController">
	<div class="container">
		<div class="navbar navbar-default">
			<a class="navbar-brand" href="#/products">RELIANCE SUPER MARKET</a>
			<cartSummary></cartSummary>
		</div>

		<div class="alert alert-danger" ng-show="error">
			ERROR:({{errorStatus}}).Product data can't get loaded. <a
				href="Index.html" class="alert-link">Click here to try again.</a>
		</div>

		<div ui-view></div>

	</div>
</body>
</html>