
<div class="panel panel-default row">
	<div>
		<h2>Check out now</h2>
		<p>Please enter your details, and we'll ship your goods right
			away!</p>
			<form name="shippingForm" novalidate>
		<div class="well">
			<h3>Ship to</h3>
			<div class="form-group">
				<label>Name</label><span class="error"
					ng-show="shippingForm.name.$error.required"> : Please enter a
					name </span> <input name="name" class="form-control"
					ng-model="data.shipping.name" required /> 
			</div>
			<h3>Address</h3>
			<div class="form-group">
				<label>Street Address</label> <span class="error"
					ng-show="shippingForm.street.$error.required">: Please enter
					a street address </span> 
					<!-- <input id="address" name="street" type="search" class="form-control" ng-model="data.shipping.street" onkeyup="codeAddress();" autocomplete="on" required /> -->
					  <input type="text" id="Autocomplete" name="street" class="form-control" ng-model="data.shipping.street" ng-autocomplete="result1" details="details1" options="options1" required/>
					  <b>autocomplete</b>: {{autocomplete}}
      <br><br>
      <b>details (formatted address)</b>: {{details.formatted_address}}
					 </br>

			
				<div class="form-group">
				<input type="radio" name="paymentType" id="onlinePayment"   value="Online Payment"/><label>Online Payment</label></br>
				<input type="radio" name="paymentType" id="onDeliveryPayment"  value="On Delivery Payment"/><label>On Delivery Payment</label>
				</div>
			</div>
			<div class="text-center">
				<a ng-disabled="shippingForm.$invalid" class="btn btn-primary" ng-click="generatePaymentDetails()" href="#/makePayment">Complete order</a>
			</div>
		</div>
		</form>
	</div>
</div>